<!--The content below is only a placeholder and can be replaced.-->
<nav class="nav-extended">
  <div class="nav-wrapper blue">
  <a href="#" class="brand-logo center" >Jonathan</a>
  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

  </div>
  <div class="nav-content blue">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#">Presentation</a></li>
        <li class="tab"><a href="">Formations </a></li>
        <li class="tab"><a href="#test4">Expérience professionnel</a></li>
        <li class="tab"><a href="#test4">Compétences</a></li>

      </ul>
</div>

</nav>

<router-outlet></router-outlet>

<footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Liens: </h5>
          
        </div>
        <a href="https://www.linkedin.com/in/jonathan-pham-474668151/"><img class="theLogos" src="https://ya-webdesign.com/images250_/social-media-buttons-png-201-14.png"/></a>
        <a href=""><img class="theLogos" src="https://image.flaticon.com/icons/svg/25/25231.svg"/></a>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Excaling
      </div>
    </div>
  </footer>
      