html{
    position: relative;
    min-height: 100%;
}
.brand-logo{
    font-family: monospace;
    font-weight: bold;
}

.page-footer{
    width: 100%;
    
    margin-top: 4%;

}
.theLogos{
    height: 80px;
    width: 80px;
    border-radius: 5%;
}
.theLogos:hover{
    
        background-color: white;
      
}
.grey-text:hover{
    background-color: red;
}